@media screen and (max-width: 576px) {
  /* shared styles */
  .form-container form,
  .popular-tours-container {
    flex-direction: column;
  }

  header {
    max-width: 90%;
  }
  #large-screen {
    display: none;
  }
  #small-screen {
    display: flex;
    margin-top: 30px;
  }
  .logo {
    gap: 15px;
  }
  .logo img {
    width: 35px;
  }
  .logo h2 {
    font-size: 21px;
    font-weight: 800;
  }
  .hamburger-icon i {
    font-size: 21px;
  }
  .explore-container {
    margin-top: 17px;
    background-position: center;
  }
  .explore-container h1 {
    font-size: 22px;
    font-weight: 800;
  }
  .explore-container p {
    font-size: 16px;
    line-height: 26px;
    padding: 0 25px;
  }
  /* hero-form section */
  .form-container {
    width: 90%;
  }
  .form-container form {
    gap: 10px;
  }
  form input[type='text'],
  form select,
  form input[type='submit'] {
    border: 0;
    border-radius: 8px;
    padding: 16px 25px;
    position: relative;
    width: -webkit-fill-available;
  }
  #form-submit {
    padding: 16px 25px;
  }
  /* popular-tours-section */
  .popular-tours-container {
    padding: 0 20px;
    margin-top: 20px;
    gap: 25px;
  }
  .popular-tours-container img {
    width: 100%;
  }
  .popular-tours-content h2 {
    font-size: 20px;
  }
  .popular-tours-content h2,
  .popular-tours-content p,
  .popular-tours-content ul li {
    padding-bottom: 10px;
  }
}
