@media screen and (max-width: 576px) {
  /* shared styles */
  .form-container form,
  .popular-tours-container,
  .destination-img-container-1 {
    flex-direction: column;
  }
  .popular-tours-content h2,
  .destination-container h2,
  .why-choose-us-intro h2 {
    font-size: 20px;
  }
  .popular-tours-container,
  .why-choose-us-intro {
    padding: 0 20px;
    margin-top: 20px;
  }
  .destination-container h3 {
    font-size: 20px;
    font-weight: 700;
  }

  /* regular styles */
  header {
    max-width: 90%;
  }
  #large-screen {
    display: none;
  }
  #small-screen {
    display: flex;
    margin-top: 30px;
  }
  .logo {
    gap: 15px;
  }
  .logo img {
    width: 35px;
  }
  .logo h2 {
    font-size: 21px;
    font-weight: 800;
  }
  .hamburger-icon i {
    font-size: 21px;
  }
  .explore-container {
    margin-top: 17px;
    background-position: center;
  }
  .explore-container h1 {
    font-size: 22px;
    font-weight: 800;
  }
  .explore-container p {
    font-size: 16px;
    line-height: 26px;
    padding: 0 25px;
  }
  /* hero-form section */
  .form-container {
    width: 90%;
  }
  .form-container form {
    gap: 10px;
  }
  form input[type='text'],
  form select,
  form input[type='submit'] {
    border: 0;
    border-radius: 8px;
    padding: 16px 25px;
    position: relative;
    width: -webkit-fill-available;
  }
  #form-submit {
    padding: 16px 25px;
  }
  /* popular-tours-section */
  .popular-tours-container {
    gap: 25px;
  }
  .popular-tours-container img {
    width: 100%;
  }
  .popular-tours-content h2,
  .popular-tours-content p,
  .popular-tours-content ul li {
    padding-bottom: 10px;
  }
  /* Choose Your Destination */
  .destination-container,
  .why-choose-us-container {
    padding: 0 20px;
    margin-top: 20px;
  }
  .destination-container {
    text-align: center;
  }
  .destination-container p {
    width: 100%;
  }
  /* Choose Your Destination */
  .destination-img-container-1 {
    gap: 24px;
  }
  .maldives,
  .indonesia,
  .destination-item img {
    width: 100%;
    height: 250px;
    background-position: center;
  }
  .destination-img-container-2,
  .destination-img-container-3 {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  .why-choose-us-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .services:nth-child(3) {
    grid-column: auto;
  }
  .service-item {
    padding: 20px;
  }
}
