/* font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* shared styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Mulish', sans-serif;
}
:root {
  --primary-color: #131318;
  --secondary-color: #424247;
  --tertiary-color: #ff5400;
}

/* header styles */
header {
  max-width: 1170px;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo img {
  width: 48px;
}
.logo h2 {
  font-size: 36px;
  font-weight: 800;
}
.logo span {
  color: var(--tertiary-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#large-screen {
  margin-top: 50px;
}
nav ul {
  list-style: none;
}
nav li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-color);
}
nav ul li:first-child a {
  color: var(--tertiary-color);
}
nav ul {
  display: flex;
  gap: 44px;
}

/* small screen navigation */
#small-screen {
  display: none;
}

/* explore your travel section */
.explore-container {
  margin-top: 45px;
  background: url(../Images/group13.png) no-repeat;
  background-size: cover;
  border-radius: 16px;
  height: 501px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  position: relative;
}
.explore-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
}
.explore-container h1 {
  font-size: 64px;
  font-weight: 800;
  z-index: 1;
}
.explore-container p {
  font-size: 16px;
  line-height: 26px;
  z-index: 1;
}
