/* font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* shared styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Mulish', sans-serif;
}
:root {
  --primary-color: #131318;
  --secondary-color: #424247;
  --tertiary-color: #ff5400;
}
.primary-btn {
  background: var(--tertiary-color);
  border: 0;
  border-radius: 8px;
  color: #fff;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* header styles */
header,
main {
  max-width: 1170px;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo img {
  width: 48px;
}
.logo h2 {
  font-size: 36px;
  font-weight: 800;
}
.logo span {
  color: var(--tertiary-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#large-screen {
  margin-top: 50px;
}
nav ul {
  list-style: none;
}
nav li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-color);
}
nav ul li:first-child a {
  color: var(--tertiary-color);
}
nav ul {
  display: flex;
  gap: 44px;
}

/* small screen navigation */
#small-screen {
  display: none;
}

/* explore your travel section */
.explore-container {
  margin-top: 45px;
  background: url(../images/group13.png) no-repeat;
  background-size: cover;
  /* background-position: center; */
  border-radius: 16px;
  height: 501px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  position: relative;
}
.explore-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
}
.explore-container h1 {
  font-size: 64px;
  font-weight: 800;
  z-index: 1;
}
.explore-container p {
  font-size: 16px;
  line-height: 26px;
  z-index: 1;
}
/* hero-form section */
.form-container {
  z-index: 1;
  margin: 0 auto;
  width: 768px;
}
.form-container form {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}
form input[type='text'],
select,
#form-submit {
  border: 0;
  border-radius: 8px;
  width: 100%;
  padding: 12px 25px;
}
form input:focus,
select {
  outline: none;
}
::placeholder,
select {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
}
select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/icons/down-arrow.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}
.primary-btn i {
  margin-left: 5px;
}

/* popular-tours-section */
.popular-tours-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 80px;
}
.popular-tours-content h2 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 24px;
}
.popular-tours-content p {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 24px;
}
.popular-tours-content ul {
  padding-left: 20px;
}
.popular-tours-content ul li {
  padding-bottom: 24px;
  line-height: 26px;
}
/* Choose Your Destination */
.destination-container {
  margin-top: 100px;
  text-align: center;
}
.destination-container h2 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 24px;
}
.destination-container p {
  max-width: 643px;
  margin: 0 auto;
  line-height: 26px;
  padding-bottom: 24px;
}
